<ion-header>
    <ion-navbar color="primary">
        <ion-title>Part 3: Conversations</ion-title>
        <ion-buttons end>
            <button ion-button outline icon-left (click)="doCheck()">                
                <ion-icon name="checkmark"></ion-icon>
                Answers
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="background">
    <div class="container">
        <div class="direction">
            <h2 text-justify>You will hear some conversations between two people. You will be asked to answer three questions about what the speakers say in each conversation. Select the best response to each question and mark the letter (A), (B), (C), or (D) on your
                answer sheet. The conversations will be spoken only one time and will not be printed in your test book.</h2>
        </div>
        <div class="point" *ngIf="showPoint">
            Correct({{point}}/{{length}})
        </div>
        <div *ngFor="let question of part3QuestionsArray; let i = index">
            <div class="part-content">
                <h1 text-left>{{i + 1}}. {{question.Question}}</h1>
                <ion-list>
                    <ion-item (click)='choose(i, "A")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_a.png">
                        </ion-avatar>
                        <h2 text-wrap text-left [ngClass]="question.cssKeyA">{{question.A}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "B")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_b.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-left [ngClass]="question.cssKeyB">{{question.B}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "C")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_c.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-left [ngClass]="question.cssKeyC">{{question.C}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "D")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_d.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-left [ngClass]="question.cssKeyD">{{question.D}}</h2>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button class="btn-play" large ion-button color="light" (click)="playAudio()" clear icon-only>
                <ion-icon [hidden] = 'isPlay' name='play'></ion-icon>
                <ion-icon [hidden] = '!isPlay' name='pause'></ion-icon>                
            </button>
        </ion-buttons>
        <ion-range color="light" [(ngModel)]="process" min="0" max="100">
            <ion-label color="light" range-left>{{convertTime(currentTime)}}</ion-label>
            <ion-label color="light" range-right>{{convertTime(duration)}}</ion-label>
        </ion-range>
    </ion-navbar>
</ion-footer>