<ion-content class="no-scroll" padding style="background-color: #009688">

    <div class="header" *ngIf="!isShowHeader" [@enterAnimation]="!isLoading">
        <div id="left" (click)="back()">
            ❮ Back</div>
        <div id="right">{{life}} x <span><ion-icon name="heart" style="
    color: red;"></ion-icon></span></div>
        <div id="center">Point: {{point}}</div>
    </div>

    <ion-grid>
        <div class="result" *ngIf="isEndGame">
            <div class="header-end">YOUR POINT</div>
            <div class="end-point">{{point}}/{{lengthQuestion}}</div>
            <button ion-button block (click)="playAgain()">Play Again</button>
            <button ion-button block (click)="back()">Exit</button>
        </div>

        <div *ngIf="!isFalseOrTimeOut" [@enterAnimation]="!isFalseOrTimeOut">

            <div>
                <h1>{{currentQuestion.keyword.word}} ({{currentQuestion.keyword.type}})</h1>
            </div>
            <div class="row question-game" (click)="choose(1)">
                {{currentQuestion.word1.meaning}}
            </div>
            <div class="row question-game" (click)="choose(2)">
                {{currentQuestion.word2.meaning}}
            </div>
            <div class="row question-game" (click)="choose(3)">
                {{currentQuestion.word3.meaning}}
            </div>
        </div>
        <div *ngIf="istem" [@enterAnimation]="istem">
            <div>
                <h2>Opp! Wrong answer.</h2>
                <h3>{{currentQuestion.keyword.word}} ({{currentQuestion.keyword.type}})</h3>
                <p class="meaning">{{currentQuestion.keyword.meaning}}</p>
                <img class="img" src="{{currentQuestion.keyword.linkImg}}" />
                <button ion-button block class="tap-class" (click)="tapEvent($event)">Click here to continue!</button>
            </div>
        </div>
        <ion-row *ngIf="isFlashLoading">
            <ion-col text-center class="timer">{{time}} </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer *ngIf="isRunTimer" [@enterAnimation]="isRunTimer">
    <div class="item item-text-wrap">
        <div class="loader" [style.width.%]="progressPercent">
            <p class="percent"></p>
        </div>
    </div>
</ion-footer>