<ion-header>
    <ion-navbar color="primary">
        <ion-title>Flash card ({{index + 1}}/{{length}}) </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-slides (ionSlideNextEnd)="next()" (ionSlidePrevEnd)="pre()">
        <ion-slide *ngFor="let word of listWords">
            <div class="div-card">
                <div class="word">
                    <span>{{word.word}} ({{word.type}})</span>
                    <button color="danger" ion-button large clear icon-only (click)="playAudioClickHandler(word)">
                        <ion-icon name="volume-up"></ion-icon>              
                    </button>
                </div>
                <div class="row">
                    <p class="phienam">{{word.phienAm}}</p>
                </div>
                <div class="row">
                    <img class="mean-img" src="{{word.linkImg}}" />
                </div>
                <div class="row">
                    <p class="mean-text" text-left>{{word.meaning}}</p>
                </div>
                <div class="row example">
                    <p>Examples:</p>
                    <p *ngFor="let example of word.examples" text-left>&#45; {{example.sentence}}</p>
                </div>
                <div class="row families" *ngIf="word.families[0]">
                    <p class="header">Words Families:</p>
                </div>
                <div class="row families" *ngFor="let word of word.families">
                    <p>&#45; {{word.word}} ({{word.type}})</p>
                    <div text-justify> <b><i>Eg.</i></b> {{word.example}} </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>