page-practice-part1 {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    img {
        width: 100%;
        height: 200px;
    }
    p {
        padding: 10px;
        font-size: 1.2em;
        font-style: italic;
        background-color: #B2DFDB;
    }
    ion-item {
        padding-left: 0px !important;
    }
    .correct {
        color: blue;
    }
    .wrong {
        color: red;
        text-decoration: line-through;
    }
}