<ion-header>
    <ion-navbar color="primary">
        <ion-title>Part 5: Incomplete Sentences</ion-title>
        <ion-buttons end>
            <button ion-button outline icon-left (click)="doCheck()">                
                <ion-icon name="checkmark"></ion-icon>
                Answers
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="background">
    <div class="container">
        <div class="direction">
            <h2 text-justify>A word or phrase is missing in each of the sentences below. Four answer choices are given below each sentence. Select the best answer to complete the sentence. Then mark the letter (A), (B), (C), or (D) on your answer sheet.</h2>
        </div>
        <div class="point" *ngIf="showPoint">
            Correct({{point}}/{{length}})
        </div>
        <div>
            <div class="part-content" *ngFor="let question of part5QuestionsArray; let i = index">
                <h1 text-left>{{i+1}}. {{question.Question}}.</h1>
                <ion-list>
                    <ion-item (click)='choose(i, "A")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_a.png">
                        </ion-avatar>
                        <h2 text-wrap text-justify [ngClass]="question.cssKeyA">{{question.A}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "B")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_b.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-justify [ngClass]="question.cssKeyB">{{question.B}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "C")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_c.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-justify [ngClass]="question.cssKeyC">{{question.C}}</h2>
                    </ion-item>
                    <ion-item (click)='choose(i, "D")'>
                        <ion-avatar item-left>
                            <img src="assets/icon/ic_d.PNG">
                        </ion-avatar>
                        <h2 text-wrap text-justify [ngClass]="question.cssKeyD">{{question.D}}</h2>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>