<ion-header>
    <ion-navbar color="primary">
        <ion-title>Word In Context</ion-title>
        <ion-buttons end>
            <button ion-button outline icon-left (click)="doCheck()">                
                <ion-icon name="checkmark"></ion-icon>
                Answers
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="background">
    <div class="container">
        <div class="direction">
            <h2 text-justify>Read the following passage and choose the words from the selecting box</h2>
        </div>
        <div class="point" *ngIf="showPoint">
            Correct(1/3)
        </div>
        <div class="page-content">
            <p>
                <span *ngFor="let text of questionTextToArray;let i = index">
                    {{text}}<span><select *ngIf="lastText!=i" [(ngModel)]="sbs" interface="action-sheet">
                    <option *ngFor="let word of wordArray;" value="word">{{word}}</option>
                </select></span></span>
            </p>
        </div>
    </div>
</ion-content>